@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #181A1B;
}
.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}
p,a {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
#left,#right {
    float: left;
    padding: 1rem
}