.nav {
  z-index: 10;
  padding: var(--gap-double);
  @media (max-width: 960px) {
    padding: var(--gap);
  }
  margin-bottom: 2rem;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.navItem {
  padding: 1rem;
}
