.trigger {
  text-decoration: underline dotted;
}

.content {
  padding: 0.5rem;
  background: var(--surface-variant);
  border: 1px solid var(--outline);
  border-radius: 8px;
  max-width: 30ch;
  font-size: 600;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content[data-state="delayed-open"] {
  animation: appear 0.2s ease-out;
}
