.sections {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* intro section */

.intro {
  max-width: var(--prose);
  padding-top: 10vh;
}

.intro-content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--surface-1);
  border-radius: 1rem;
}

.chips {
  display: flex;
  gap: 0.5rem;
}

.introduction {
  margin: 0 2rem;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}

.introduction i {
  font-style: italic;
  font-size: 1rem;
}

.skills {
  margin: 0 auto;
  padding-top: 4rem;
}
