:root {
  /* Your default theme */
  --background: white;
  --foreground: #202124;
  --primary: #5169ea;
  --cat-color: #121212;
}

[data-theme="dark"] {
  --background: #131415;
  --foreground: white;
  --cat-color: white;
}
